<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DiscordBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
		<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<!--<connectionStrings> </connectionStrings>-->
	<appSettings>
		<add key="discordBotToken" value="OTQxMjAxMzMzNTQzOTExNDc0.YgSgDA.8yMJ6zD6TvfGYmbd1cIScpApv9o" />
		<add key="GoogleCredentialsToken" value="someValue" />
		<add key="regearSpreadSheetID" value="1Yf1BnzHVIal_mj9c99cIAXgMN-EnmFeUcp59bTHSOb4" />
		<add key="guildDataBaseSheetID" value="1s-W9waiJx97rgFsdOHg602qKf-CgrIvKww_d5dwthyU" />		
		<add key="enableGoogleAPI" value="someValue" />
		<add key="guildID" value="335894087397933056" /> <!--DiscordServerID Jaysen server =157626637913948160  :  Free Beer server =335894087397933056-->
		<add key="showDeathsQuantity" value="5" /> <!--Max of 10 allowed-->
		<add key="AlbionGuildAPIID" value="9ndyGFTPT0mYwPOPDXDmSQ" />
		<add key="chosenCityMarket" value="Martlock" />
		<add key="GoldTierRegear" value="970083338591289364" />
		<add key="SilverTierRegear" value="970083088241672245" />
		<add key="OfficerRoleID" value="335894631810334720" />
		<add key="RegearRoleID" value="937935642187403335" />
		<!--<add key="regearTeamChannelId" value="603281980951494670" />-->
		<add key="regearTeamChannelId" value="1036552362380251157" />
		<add key="HeadEnabled" value="true" />
		<add key="BodyEnabled" value="true" />
		<add key="CapeEnabled" value="true" />
		<add key="ShoesEnabled" value="true" />
		<add key="WeaponEnabled" value="true" />
		<add key="OffhandEnabled" value="true" />
		<add key="MountEnabled" value="true" />
		<add key="FoodEnabled" value="false" />
		<add key="PotionsEnabled" value="false" />
		<add key="BagEnabled" value="false" />
		<add key="testKey" value="TheTestWorked" />
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.29.0" newVersion="3.1.29.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.29.0" newVersion="3.1.29.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.29.0" newVersion="3.1.29.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.29.0" newVersion="3.1.29.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.29.0" newVersion="3.1.29.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>