<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add key="googlesheetID" value="someValue" />
	<add key="keyname" value="someValue" />
	<add key="keyname" value="someValue" />
	<add key="keyname" value="someValue" />
	<add key="keyname" value="someValue" />
	<add key="keyname" value="someValue" />
	<add key="keyname" value="someValue" />
	<add key="keyname" value="someValue" />
	
</configuration>